---
import ShowcaseEntry from '$components/Sections/ShowcaseEntry.astro'
import Tip from '$components/Tip/Tip.astro'
import MainLayout from '$layouts/MainLayout.astro'
import { CollectionEntry, getCollection } from 'astro:content'

const showcaseCollection = await getCollection('showcase')

const regular = showcaseCollection.filter((e) => {
  return e.data.size == 'regular'
})
const large = showcaseCollection.filter((e) => {
  return e.data.size == 'large'
})

const filteredCollection: CollectionEntry<'showcase'>[] = []

for (const l of large) {
  if (regular.length >= 3) {
    const s1 = regular.shift()
    const s2 = regular.shift()
    const s3 = regular.shift()
    //@ts-ignore
    filteredCollection.push(s1, s2, s3)
  }
  filteredCollection.push(l)
}
filteredCollection.push(...regular)
---

<MainLayout>
  <div class="flex flex-col gap-10 py-24">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-glow-white text-center text-6xl font-bold">
        Showcase<br />
      </h1>
      <h2 class="text-faded">
        Projects made with Threlte. See what's possible and find inspiration to build more.
      </h2>
    </div>

    <Tip color="blue">
      <Fragment slot="icon">
        <svg
          viewBox="0 0 24 24"
          class="fill-white/90"
          xmlns="http://www.w3.org/2000/svg"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
          ></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <path
              d="M19.5099 5.85L13.5699 2.42C12.5999 1.86 11.3999 1.86 10.4199 2.42L4.48992 5.85C3.51992 6.41 2.91992 7.45 2.91992 8.58V15.42C2.91992 16.54 3.51992 17.58 4.48992 18.15L10.4299 21.58C11.3999 22.14 12.5999 22.14 13.5799 21.58L19.5199 18.15C20.4899 17.59 21.0899 16.55 21.0899 15.42V8.58C21.0799 7.45 20.4799 6.42 19.5099 5.85ZM11.2499 7.75C11.2499 7.34 11.5899 7 11.9999 7C12.4099 7 12.7499 7.34 12.7499 7.75V13C12.7499 13.41 12.4099 13.75 11.9999 13.75C11.5899 13.75 11.2499 13.41 11.2499 13V7.75ZM12.9199 16.63C12.8699 16.75 12.7999 16.86 12.7099 16.96C12.5199 17.15 12.2699 17.25 11.9999 17.25C11.8699 17.25 11.7399 17.22 11.6199 17.17C11.4899 17.12 11.3899 17.05 11.2899 16.96C11.1999 16.86 11.1299 16.75 11.0699 16.63C11.0199 16.51 10.9999 16.38 10.9999 16.25C10.9999 15.99 11.0999 15.73 11.2899 15.54C11.3899 15.45 11.4899 15.38 11.6199 15.33C11.9899 15.17 12.4299 15.26 12.7099 15.54C12.7999 15.64 12.8699 15.74 12.9199 15.87C12.9699 15.99 12.9999 16.12 12.9999 16.25C12.9999 16.38 12.9699 16.51 12.9199 16.63Z"
            ></path>
          </g></svg
        >
      </Fragment>
      Submit your site. Questions about building your own themes? Join our community on Discord!
    </Tip>

    <Tip color="orange">
      <Fragment slot="icon">
        <svg
          viewBox="0 0 24 24"
          class="fill-white/90"
          xmlns="http://www.w3.org/2000/svg"
          ><g
            id="SVGRepo_bgCarrier"
            stroke-width="0"
          ></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <path
              d="M19.5099 5.85L13.5699 2.42C12.5999 1.86 11.3999 1.86 10.4199 2.42L4.48992 5.85C3.51992 6.41 2.91992 7.45 2.91992 8.58V15.42C2.91992 16.54 3.51992 17.58 4.48992 18.15L10.4299 21.58C11.3999 22.14 12.5999 22.14 13.5799 21.58L19.5199 18.15C20.4899 17.59 21.0899 16.55 21.0899 15.42V8.58C21.0799 7.45 20.4799 6.42 19.5099 5.85ZM11.2499 7.75C11.2499 7.34 11.5899 7 11.9999 7C12.4099 7 12.7499 7.34 12.7499 7.75V13C12.7499 13.41 12.4099 13.75 11.9999 13.75C11.5899 13.75 11.2499 13.41 11.2499 13V7.75ZM12.9199 16.63C12.8699 16.75 12.7999 16.86 12.7099 16.96C12.5199 17.15 12.2699 17.25 11.9999 17.25C11.8699 17.25 11.7399 17.22 11.6199 17.17C11.4899 17.12 11.3899 17.05 11.2899 16.96C11.1999 16.86 11.1299 16.75 11.0699 16.63C11.0199 16.51 10.9999 16.38 10.9999 16.25C10.9999 15.99 11.0999 15.73 11.2899 15.54C11.3899 15.45 11.4899 15.38 11.6199 15.33C11.9899 15.17 12.4299 15.26 12.7099 15.54C12.7999 15.64 12.8699 15.74 12.9199 15.87C12.9699 15.99 12.9999 16.12 12.9999 16.25C12.9999 16.38 12.9699 16.51 12.9199 16.63Z"
            ></path>
          </g></svg
        >
      </Fragment>
      Submit your site. Questions about building your own themes? Join our community on Discord!
    </Tip>

    <Tip color="green">
      We'd love your help to make, add to and edit our examples. Read through the contributing guide
      and start off by reading the Examples README. There lots of examples from three.js and r3f
      that could serve as inspiration.
    </Tip>

    <div class="flex grid-cols-3 flex-col gap-6 md:grid">
      {
        filteredCollection.map((entry) => {
          return <ShowcaseEntry entry={entry} />
        })
      }
    </div>
  </div>
</MainLayout>
