---
import ShowcaseEntry from '$components/Sections/ShowcaseEntry.astro'
import MainLayout from '$layouts/MainLayout.astro'
import { getCollection } from 'astro:content'

const showcaseCollection = await getCollection('showcase')

console.log(showcaseCollection)
---

<MainLayout>
  <div class="flex flex-col gap-14 py-24">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-glow-white text-center text-6xl font-bold">
        Showcase<br />
      </h1>
      <h2>Projects made with Threlte. See what's possible and find inspiration to build more.</h2>
    </div>

    <div class="grid grid-cols-2 gap-6">
      {
        showcaseCollection.map((entry) => {
          return <ShowcaseEntry entry={entry} />
        })
      }
    </div>
  </div>
</MainLayout>
