<div class="packages-nav flex items-center justify-between border-b-[1px] border-b-orange/25">
  <div class="px-4">Packages</div>
  <div class="px-4">...</div>
</div>

<style>
  .packages-nav {
    position: absolute;
    top: var(--sl-nav-height);
    left: 0px;
    height: var(--sl-nav-height);
    width: 100%;
    background-color: #0a0f19;
  }
</style>
