---
import Book from './Icons/Book.astro'
import type { Props } from '@astrojs/starlight/props';

const { labels } = Astro.props;
---
<site-search>
	<button data-open-modal disabled>
		{
			/* The span is `aria-hidden` because it is not shown on small screens. Instead, the icon label is used for accessibility purposes. */
		}
		<Book name="magnifier" label={labels['search.label']} />
		<span class="sl-hidden md:sl-block" aria-hidden="true">{labels['search.label']}</span>
		<Book
			name="forward-slash"
			class="sl-hidden md:sl-block"
			label={labels['search.shortcutLabel']}
		/>
	</button>
</site-search>
