---
import { c } from '$lib/classes'

interface Props {
  color: 'orange' | 'blue' | 'green'
  href: string
  class?: string
  glow?: boolean
}

/*
Leave this in to force tailwind to include classes

bg-orange
bg-blue
bg-green
hover:bg-orange-400
hover:bg-blue-400
hover:bg-green-400
*/
---

<a
  href={Astro.props.href}
  class={c(
    'px-7 py-4 rounded-md shadow-[inset_0_1px_0_0_hsl(0deg_0%_100%_/_20%)] text-center flex flex-row gap-3 w-fit text-lg text-white',
    `bg-${Astro.props.color}`,
    `hover:bg-${Astro.props.color}`,
    Astro.props.class ?? ''
  )}
>
  <div class="empty:hidden"><slot name="icon-before" /></div>
  <slot />
  <div class="empty:hidden"><slot name="icon-after" /></div>
</a>
