---
import Button from "$components/Button/Button.svelte";

type Size = 's' | 'm' | 'l'

interface Props {
  color: 'orange' | 'blue' | 'green'
  size?: Size
  href: string
  class?: string
}
---

<Button {...Astro.props}>
	<slot name="icon-before" />
  <slot />
  <slot name="icon-after" />
</Button>
