link-workspace-packages = true
engine-strict = true
auto-install-peers = true
use-node-version = 16.16.0
public-hoist-pattern[]=*cookie*
public-hoist-pattern[]=*devalue*
public-hoist-pattern[]=*marked*
public-hoist-pattern[]=*sourcemap-codec*
public-hoist-pattern[]=*yootils*
