# Docs don't need it
.changeset
CHANGELOG.md

# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Blender
.blend1

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
