---
import SvelteWrapper from './SvelteWrapper.svelte'
import Code from '../Code/Code.astro'
import CodeWrapper from './CodeWrapper.svelte'

interface Props {
  /**
   * The path to the entry App.svelte file relative to src/examples
   */
  path: string
}

const allModules = import.meta.glob('../../examples/**/*', {
  as: 'raw',
  eager: true
}) as Record<string, string>

for (const path in allModules) {
  if (!path.replace('../../examples/', '').startsWith(Astro.props.path)) {
    delete allModules[path]
  }
}

const files: Record<string, string> = {}
for (const path in allModules) {
  let relativePath = path.replace('../../examples/', '').replace(Astro.props.path, '').slice(1)
  if (relativePath.startsWith('/')) {
    relativePath = relativePath.slice(1)
  }
  files[relativePath] = allModules[path] as string
}
---

<SvelteWrapper
  path={Astro.props.path}
  client:load
  files={files}
/>

<CodeWrapper
  client:load
  filePaths={Object.keys(allModules).map((path) =>
    path.replace('../../examples/', '').replace(Astro.props.path, '').slice(1)
  )}
>
  {
    Object.entries(allModules).map(([path, mod]) => (
      <div
        data-path={path}
        class="h-full"
      >
        <Code
          code={mod}
          lang={(path.split('.').pop() ?? 'svelte') as any}
          class="h-full !rounded-t-none !rounded-bl-none border-t-0"
        />
      </div>
    ))
  }
</CodeWrapper>
