---
import '$styles/variables.css'
import '$styles/code.css'
import '$styles/app.css'
import '$styles/prose.css'

export interface Props {
	title?: string | undefined
}

const title = Astro.props.title
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<title>{title ?? 'Threlte'}</title>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900"
			rel="stylesheet"
		/>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16.png"
		/>
		<link
			rel="manifest"
			href="/icons/site.webmanifest"
		/>
		<link
			rel="mask-icon"
			href="/icons/safari-pinned-tab.svg"
			color="#fe3d00"
		/>
		<link
			rel="shortcut icon"
			href="/icons/favicon.ico"
		/>
		<meta
			name="msapplication-TileColor"
			content="#2b5797"
		/>
		<meta
			name="msapplication-config"
			content="/icons/browserconfig.xml"
		/>
		<meta
			name="theme-color"
			content="#ffffff"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>

		<meta
			property="og:title"
			content="Threlte"
		/>
		<meta
			property="og:type"
			content="website"
		/>
		<meta
			property="og:description"
			content="A three.js component library for Svelte."
		/>
		<meta
			property="og:image"
			content="https://threlte.xyz/threlte_og.jpg"
		/>
		<meta
			property="og:image:secure_url"
			content="https://threlte.xyz/threlte_og.jpg"
		/>
		<meta
			property="og:image:width"
			content="1200"
		/>
		<meta
			property="og:image:height"
			content="627"
		/>
		<meta
			property="og:image:alt"
			content="Threlte logo"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		@apply bg-[#080c14];
	}

	body {
		@apply relative text-white;
	}

	body::before {
		content: '';
		@apply fixed left-0 top-0 right-0 bottom-0 z-[-999] block bg-gradient-to-b from-[#0D1421] to-[#080c14];
	}
</style>
