---
import '$styles/variables.css'
import '$styles/code.css'
import '$styles/app.css'

export interface Props {
  title?: string | undefined
}

const title = Astro.props.title
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{title ?? 'Threlte'}</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    @apply bg-[#080c14];
  }

  body {
    @apply relative text-white;
  }

  body::before {
    content: '';
    @apply fixed left-0 top-0 right-0 bottom-0 z-[-999] block bg-gradient-to-b from-[#0D1421] to-[#080c14];
  }
</style>
