---
import '$styles/variables.css'
import '$styles/code.css'
import '$styles/app.css'
import '$styles/prose.css'
import '$styles/markprompt.css'
import '$styles/dracula.css'
import { ViewTransitions } from 'astro:transitions'

export interface Props {
  title?: string | undefined
}

const title = Astro.props.title
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{title ?? 'Threlte'}</title>
    <ViewTransitions />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900"
      rel="stylesheet"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/icons/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="/icons/safari-pinned-tab.svg"
      color="#fe3d00"
    />
    <link
      rel="shortcut icon"
      href="/icons/favicon.ico"
    />
    <meta
      name="msapplication-TileColor"
      content="#2b5797"
    />
    <meta
      name="msapplication-config"
      content="/icons/browserconfig.xml"
    />
    <meta
      name="theme-color"
      content="#ffffff"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <meta
      property="og:title"
      content="Threlte"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:description"
      content="A Three.js component library for Svelte."
    />
    <meta
      property="og:image"
      content="https://threlte.xyz/threlte-social-preview-v2.jpg"
    />
    <meta
      property="og:image:secure_url"
      content="https://threlte.xyz/threlte-social-preview-v2.jpg"
    />
    <meta
      property="og:image:width"
      content="1200"
    />
    <meta
      property="og:image:height"
      content="630"
    />
    <meta
      property="og:image:alt"
      content="Threlte - rapidly build interactive 3D apps for the web."
    />
  </head>
  <body transition:animate="morph">
    <slot />
    <style>
      html {
        @apply bg-[#0A0F19];
      }

      body {
        @apply relative text-white;
        @apply bg-[#0A0F19];
      }
    </style>

    <script>
      import { inject } from '@vercel/analytics'
      inject()
    </script>
  </body>
</html>
