@tailwind utilities;

@layer utilities {
  .text-faded {
    @apply text-white/60;
  }

  .text-highlight {
    @apply font-bold text-white;
  }
}

.blue-button {
  @apply flex w-fit flex-row gap-3 rounded-md bg-blue px-7 py-4 text-center text-lg text-white no-underline hover:bg-blue-400;
}
.green-button {
  @apply flex w-fit flex-row gap-3 rounded-md bg-green px-7 py-4 text-center text-lg text-white no-underline hover:bg-green-400;
}
.orange-button {
  @apply flex w-fit flex-row gap-3 rounded-md bg-orange px-7 py-4 text-center text-lg text-white no-underline hover:bg-orange-400;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #2f7dc630 rgba(0, 0, 255, 0);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #2f7dc630;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2f7dc6aa;
  }
}
