@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-faded {
  @apply text-white/60;
}

@utility text-highlight {
  @apply font-bold text-white;
}

/* ======= Code Blocks ========================== */

.expressive-code {
  @apply mb-6;
}

.expressive-code .frame pre {
  @apply rounded-md! bg-blue-900!;
}

.expressive-code .frame.has-title pre {
  border-top: solid rgb(255 255 255 / 0.2) !important;
  border-top-left-radius: 0rem !important;
}

.expressive-code pre {
  @apply border! border-t! border-white/20! bg-blue-900;
}

.expressive-code .frame.has-title pre,
.expressive-code .frame.is-terminal pre {
  @apply border-t!;
}

.expressive-code .frame.has-title:not(.is-terminal) .title::after {
  @apply border-none!;
}

.expressive-code .frame.has-title:not(.is-terminal) .header {
  @apply rounded-t-md border-none! bg-none!;
}

.expressive-code .frame.has-title:not(.is-terminal) .header .title {
  @apply bg-blue-900 text-white/60;
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
  @apply rounded-t-md! border! border-white/20!;
}

.expressive-code .frame.has-title:not(.is-terminal) .header::before {
  @apply border-none!;
}

.expressive-code > .frame > pre > code div > div {
  @apply m-0;
}

/* ======= Scrollbar ========================== */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #2f7dc630 rgba(0, 0, 255, 0);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #2f7dc630;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2f7dc6aa;
  }
}
