@font-face {
  font-family: 'Inter VF';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-VF.roman-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter VF';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-VF.italic-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code VF';
  font-weight: 300 700;
  font-style: normal;
  src: url('/fonts/FiraCode-VF.woff2') format('woff2-variations'),
    url('/fonts/FiraCode-VF.woff') format('woff-variations');
}

.font-mono {
  font-variant-ligatures: none;
}
