---
import Intro from '../components/hackathon/Intro.svelte'
import MainLayout from '../layouts/MainLayout.astro'
import DiscordIcon from '../components/Icons/inline/Discord.svelte'
import GithubIcon from '../components/Icons/inline/Github.svelte'
import Example from '../components/Example/Example.astro'
---

<MainLayout title="Threlte Hackathon">
  <Fragment slot="external">
    <Intro client:load />
  </Fragment>

  <div class="flex flex-col items-center justify-center gap-0">
    <div class="prose prose-invert mt-[100lvh] flex flex-col py-12">
      <h5 class="text-faded">Join Us For Threlte Warp</h5>

      <h1 class="mb-0">
        The First Threlte Hackathon<br />
      </h1>

      <h4 class="mt-0 mb-6">15-22 October 2023</h4>

      <p>Threlte Warp 23 Hackathon has been concluded. The Threlte team was delighted to see some excellent entries, and we had a hard time choosing the winners.</p>

      <h2 class="mt-2">Wow! Track Winners</h2>

      <ul>
        <li>
          <b>🥇 1st Place</b>
          <p><a href="https://warpspeed.vercel.app/">Warpspeed</a> - @Ed Sunman impressed us with an anti-gravity racer based on Wipeout, this game impressed us with its level of polish: refined mechanics, clean code and slick audio and visuals. Checkout the <a href="https://github.com/edsunman/warpspeed"><GithubIcon/> repo</a>.</p>
        </li>
        <li>
          <b>🥈 2nd Place</b>
          <p><a href="https://wonderful-indonesia-rho.vercel.app/">Wonderful Indonesia</a> - @Peculiarnewbie showed off an interactive 3D data viz map of Indonesia, showing off data loading and nifty interactive storytelling. Checkout the <a href="https://github.com/peculiarnewbie/wonderful-indonesia"><GithubIcon/> repo</a>.</p>
          <p><a href="https://github.com/idlesseby/zoetrope-warp2023">Halloween Zoetrope</a> - @idlesseby wowed us a classic optical illusion of animation by spinning a wheel. We loved the aesthetics and simplicity of this entry! Checkout the <a href="https://github.com/idlesseby/zoetrope-warp2023"><GithubIcon/> repo</a>.<p>
        </li>
        <li>
          <b>🥉 3rd Place</b>
          <p><a href="https://aurasphere.vercel.app/">Aurasphere</a> - @mayari grounded us with an immersive, cosmic and visually cohesive relaxation experience. Checkout the <a href="https://github.com/mayariii/aurasphere/"><GithubIcon/> repo</a>.</p>
          <p><a href="https://mateerial.world/">mateerial.world</a> - @el-schneider impressed us with a neat material explorer, allowing you to explore the thousands of material effects. Checkout the <a href="https://github.com/el-schneider/mateerial.world"><GithubIcon/> repo</a>.</p>
        </li>
      </ul>

      <h2 class="mt-2">Aha! Track Winner</h2>
      <ul>
        <li>
          <b>🥇 1st Place</b>
          <p><a href="https://threlte-git-fork-definitelymaybe-psuedo-random-s-7db0d6-threlte.vercel.app/docs/examples/geometry/psuedo-random-scenery">Pseudo Random Scenary</a> - @DefinitelyMaybe enlightened us with an educational, useful and beautiful example how to create generative terrains in Threlte. Checkout the <a href="https://github.com/threlte/threlte/pull/702"><GithubIcon/> PR</a>.
        </li>
      </ul>

      <p class="mt-0"><b>Congratulations to the winners 🎉 and thank you to everyone who participated 🙏</b></p>

      <h2 class="mt-2">We hope your entries will go live</h2>

      <p>If the participants agree, your Wow! 
      track entries will be highlighted in the Threlte site's upcoming 
      showcase section. Meanwhile, Aha! track entries will be merged 
      as PRs to our docs.</p>

     <h2 class="mb-2">Choose your path</h2>

      <p>
        As a participant you will need to choose between two tracks: "wow!" and "aha!". Both tracks 
        welcome participants of all levels, coming as individuals or teams. Both tracks will have
        the same prizes.
      </p>

      <div class="mb-2 grid gap-4 lg:grid-cols-2">
        <!--  -->
        <div
          class="flex flex-col rounded-md border border-white/10 bg-white/5 p-4 shadow-xl duration-200 hover:bg-white/10 hover:shadow-2xl"
        >
          <h2 class="my-6">Wow! Track</h2>

          <p class="text-faded text-base font-normal">
            The "Wow! Track" is a playground for innovation, creativity, and jaw-dropping visuals.
            We invite your to wow us with anything from games, immersive ui/ux prototypes, or a tech
            or business prototypes. The sky is the limit so we expect you to surprise and delight
            us!
          </p>
        </div>

        <div
          class="flex flex-col rounded-md border border-white/10 bg-white/5 p-4 shadow-xl duration-200 hover:bg-white/10 hover:shadow-2xl"
        >
          <h2 class="my-6">Aha! Track</h2>
          <p class="text-faded text-base font-normal">
            The "Aha! Track" is where you share the knowledge with the community. What did you miss
            when you were learning Threlte? Add that example that delights and explains, or a
            tutorial that gets you set up with the skills for your next project. Let's make Threlte
            easy and fun to learn!
          </p>
        </div>
      </div>

      <h2>Prizes</h2>

      <p>
       Each track's top three entries will win the following prizes:
      </p>

      <ul style="max-width: 450px">
        <li>
          🥇 <b>First place</b> gets a
          <a href="https://genkiinstruments.com/products/wave">Wave by Genki</a>
          – a magic spatially aware ring – plus a Warp '23 T-Shirt
        </li>
        <li>
          🥈 <b>Second place</b> gets an exclusive Warp '23 event canvas print plus a Warp '23 T-Shirt
        </li>
        <li>🥉 <b>Third place</b> gets a Warp '23 T-shirt</li>
      </ul>

      <h3>Genki Instruments Wave 🥇</h3>

      <p>
        The good folks over at <a href="https://genkiinstruments.com/">Genki</a> graciously sponsored
        our first prizes: their magical <a href="https://genkiinstruments.com/products/wave">Wave</a
        > rings. Designed for controlling sound with gestures, the Wave could be a neat way to play around
        with your Threlte canvas.
      </p>

      <p>
        Genki Instruments, a Reykjavík-based technology company founded in 2015, develops products
        on the intersection of technology and design, with the mission of making technology feel
        natural.
      </p>

      <p>
        Genki believes people should never have to change the way they express themselves in order
        to fit the devices around them. Genki' first product, Wave, is a smart ring that allows
        musicians to control sound.
      </p>

      <div class="not-prose">
        <Example
          path="other/hackathon-ring"
          previewClass="border-none"
          iframe
          hideCode
          hideStackblitz
        />
      </div>

      <h3>Warp '23 Canvas Print & T-Shirt 🥇🥈🥉 </h3>

      <p>
        We're delighted to announce that we won over the renowned design studio
        <a href="https://absoluteattitude.org/">Absolute Attitude</a> to design the Warp '23 canvas print
        and T-Shirt. Absolute Attitude is a multidisciplinary design studio working in the fields of
        Culture, Art and Fashion, located in Berlin and Munich.
      </p>

      <h2>Judging</h2>

      <p>
        The Threlte core team members will act as judges. Your entries will be scored between 1 and
        5 stars on each criteria, adding up to a total score. The total score will determine the
        winner in each track. Works that break the rules may be disqualified at the discretion of
        the judges. Judges may recuse themselves for fairness sake.
      </p>

      <h3>Criteria</h3>

      <ul>
        <li><b>✨ Awesomeness</b> - the wow factor (so counts double for Wow! track)</li>
        <li><b>💡 Enlightenment</b> - the aha factor (so counts double for Aha! track)</li>
        <li><b>🌈 Creativity</b> - inventiveness, originality and playfulness</li>
        <li><b>🎨 Aesthetics</b> - design, art and elegance</li>
        <li><b>🛠️ Technique</b> - engineering, architecture and communication</li>
      </ul>

      <h2>Rules</h2>

      <h3>General rules</h3>

      <ul>
        <li>Participate as individuals or teams</li>
        <li>Project must be created during the hackathon</li>
        <li>Submissions must be open source and MIT-licensed</li>
      </ul>

      <h3>Ethical conduct</h3>
      <ul>
        <li>No plagiarism or other shenanigans</li>
        <li>Generative AI allowed only with full disclosure</li>
        <li>
          Follow our Discord community
          <a href="https://discord.com/channels/985983540804091964/986220799750979605">
            <DiscordIcon /> rules
          </a>
        </li>
      </ul>

      <h3>Wow! Track Rules</h3>
      <ul>
        <li>Easily available public repo w/ MIT license</li>
        <li>Clear README.md</li>
        <li>Deployed version or package easily available</li>
      </ul>

      <h3>Aha! Track Rules</h3>
      <ul>
        <li>Submitted as a PR to Threlte repo</li>
        <li>Follows Threlte repo conventions and standards</li>
        <li>Discussed with maintainer team</li>
      </ul>
    </div>
  </div>
</MainLayout>
