---
import '$styles/app.css'
import Loader from './_Loader.svelte'
import { getAllAppModules } from './_appModules'

export async function getStaticPaths() {
  const examples = getAllAppModules()
  const keys = Object.keys(examples) as string[]
  const slugs = keys.map((key) => key.replace('../../../examples/', '').replace('/App.svelte', ''))

  return slugs.map((slug) => {
    return {
      params: { slug }
    }
  })
}

const slug = Astro.params.slug
---

<!doctype html>
<html lang="en">
  <head></head>
  <body class="m-0 overflow-hidden bg-blue-900 p-0">
    <div class="absolute left-0 top-0 h-full w-full">
      <Loader
        client:load
        {slug}
      />
    </div>
  </body>
</html>
