@tailwind utilities;

@layer utilities {
  .text-faded {
    @apply text-white/60;
  }

  .text-highlight {
    @apply font-bold text-white;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --markprompt-background: unset !important;
  --markprompt-muted: unset !important;
  --markprompt-mutedForeground: #949494 !important;
  --markprompt-primary: #ff5b28 !important;
  --markprompt-primaryMuted: #fe3d00 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --markprompt-background: unset !important;
    --markprompt-muted: unset !important;
    --markprompt-mutedForeground: #949494 !important;
    --markprompt-primary: #ff5b28 !important;
    --markprompt-primaryMuted: #fe3d00 !important;
  }
}
