div[data-rehype-pretty-code-fragment] {
}
div[data-rehype-pretty-code-fragment] pre {
  @apply !bg-blue-900;
}
code {
  display: inline;
  @apply bg-white/5 border border-white/10 rounded-md px-1 py-0.5 text-[0.85em] text-white;
}
pre > code {
  display: grid;
  @apply bg-transparent border-0 text-[1em];
}
.highlighted {
  position: relative;
}
span.line:empty::before {
  content: ' ';
}
.highlighted::before {
  content: '';
  display: block;
  height: 100%;
  width: 4px;
  background-color: #60a5fa;
  position: absolute;
  left: -4px;
  top: 0;
}

pre {
  counter-reset: line;
}
span.line {
  counter-increment: line;
}
span.line:before {
  content: counter(line) !important;
  display: inline-block;
  width: calc(1ch + 1rem);
  text-align: right;
  color: #ccc;
  user-select: none;
  opacity: 0.3;
  @apply border-r border-[#ccc] pl-0 pr-2 mr-2 text-[0.9em] h-full;
}
