name: npm publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
      - run: npm run package
      - run: cd package
      - uses: JS-DevTools/npm-publish@v1
        with:
          package: './package/package.json'
          token: ${{ secrets.NPM_TOKEN }}
